{% if "gpt-4o-mini" in cookiecutter["llm's (comma-separated, press Enter for all)"] %}
# Azure OpenAI API configuration
AZURE_API_VERSION="your_api_version_here"
AZURE_ENDPOINT="your_endpoint_here"
AZURE_OPENAI_API="your_api_key_here"
AZURE_OPENAI_DEPLOYMENT="your_deployment_here"
{% endif %}
{% if "mistral-nemo" in cookiecutter["llm's (comma-separated, press Enter for all)"] %}
# Azure Mistral Nemo API configuration
MISTRAL_API_KEY="your mistral nemo api key"
MISTRAL_ENDPOINT="your mistral nemo endpoint"
{% endif %}